/**
 * Shared
 */

html, body
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
}

body
{
    margin: auto;
    padding: 2em 0 0 0;
    
    background: #10101A;
    
    font-family: Lato, Verdana, Sans-Serif;
    font-weight: 900;
    font-size: 1.25em;
}

/**
 * Input Form
 */

form
{
    position: fixed;
    top: 40%;
    left: 0;
    
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 0 2em 0;
    
    background: #FFF;
    
    font-size: inherit;
    text-align: center;
    color: #000;
}

div.special
{
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1.5em 0;
    padding: 0.5em;
    
    background: #EFEFFA;
}

label
{
    padding: 0 0.5em;
    color: #10101A;
}

input
{
    font-family: inherit;
    font-size: inherit;
}

input:focus
{
    background: #FFF;
    outline: none;
}

input::-webkit-input-placeholder
{
    color: #AAB;
}

input::-moz-placeholder
{
    color: #AAB;
}

input:-ms-input-placeholder
{
    color: #AAB;
}

input[type=text]
{
    box-sizing: border-box;
    width: 60%;
    padding: 0.1em 0.25em;

    background: #EFEFFA;
    border: 2px solid #10101A;
    border-radius: 6px;
    
    color: #10101A;
    font-weight: bold;
}

input[type=button], input[type=submit]
{
    padding: 0.1em 1em;
    
    background: #EFEFFA;
    border: 2px solid #10101A;
    border-radius: 6px;
    
    color: #10101A;
    font-weight: bold;
    
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=button]:focus, input[type=submit]:focus, input[type=button]:active, input[type=submit]:active
{
    background: #10101A;
    border: 2px solid #10101A;
    color: #FFF;
}

input[type=checkbox]
{
    cursor: pointer;
}

select:focus
{
    background: #10101A;
    outline: none;
    color: #FFF;
}

input[type=checkbox]:focus
{
    outline: 2px solid #000;
}

select
{
    padding: 0.1em 0.25em;
    
    background: #EFEFFA;
    border: 2px solid #10101A;
    border-radius: 6px;
    
    color: #10101A;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    
    cursor: pointer;
}

/**
 * Header
 */

div.header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    margin: 0;
    line-height: 2em;
    
    background: #EFEFFA;
    box-shadow: 0 0 32px #10101A;
    
    text-align: center;
    color: #FFFFFF;
}

div.divider
{
    display: inline-block;
    width: 2px;
    height: 1em;
    margin: auto 0.5em;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #667, rgba(0,0,0,0));
}

a.button
{
    margin: 0 0.25em;
    padding: 0 0.4em;
    
    background: #EFEFFA;
    border: 2px solid #10101A;
    border-radius: 6px;
}

a.button:focus, a.button:hover
{
    background: #10101A;
    border: 2px solid #10101A;
    color: #FFF;
}

/**
 * Page Content
 */

div.content
{
    box-sizing: border-box;
    width: 70%;
    min-width: 640px;
    min-height: 100%;
    margin: auto;
    padding: 0.5rem 0 0.5rem 0;
    
    background: #FFF;
    color: #10101A;
}

ol
{
    box-sizing: border-box;
    width: 70%;
    min-width: 640px;
    min-height: 100%;
    margin: auto;
    padding: 0.5rem 0 0.5rem 0;
    
    list-style: none;
    counter-reset: li;
    
    background: #FFF;
    color: #10101A;
}

h1
{
    margin: 0.5em 0;
    padding: 2px 0.5em;
    
    background-color: #EFEFFA;
    color: #10101A;
    
    font-size: 1.5em;
}

p
{
    margin: 0.5em 0;
    padding: 2px 1em;
}

a
{
    text-decoration: none;
    
    color: #10101A;
}

a li
{
    margin: 3px 0 3px 0;
    padding: 2px 0.5em 2px 0.5em;
    
    color: #10101A;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.highlight
{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 3px 0;
    padding: 2px 1em 2px 1em;
}

a.top, a.back
{
    font-size: 0.75em;
}

a li:before
{
    margin: 0 6px 0 6px;
    padding: 2px 4px 2px 4px;
    
    content: counter(li) ".";
    counter-increment: li;
    
    background: #10101A;
    border-radius: 4px;
    
    color: #FFFFFF;
}

a:focus, h1:focus, p:focus, a.jump:focus, a.top:focus
{
    border: none;
    outline: none;
}

a:focus, a:focus li, a:hover li, h1:focus, p:focus, a.highlight:hover
{
    background: #10101A;
    
    color: #FFF;
    
    overflow: auto;
    white-space: normal;
}

a:focus li:before, a:hover li:before
{
    background: #FFFFFF;
    
    color: #000000;
    text-shadow: none;
}

a span.number
{
    margin: 0 6px 0 6px;
    padding: 2px 4px 2px 4px;
    
    background: #10101A;
    border-radius: 4px;
    
    color: #FFFFFF;
}

a:focus span.number, a:hover span.number
{
    background: #FFFFFF;
    
    color: #10101A;
    text-shadow: none;
}